.card-content{
    background-color:#9D0208;
    border-bottom: solid 2px #FFF;
}
.banner{
    height: 500px;
    max-width: 100%;
    display: flex;
}
.banner-img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-description{
    width: 50%;
    background-color: #370617;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: #FFF;
    font-size: 14pt;
}
.img{
    width: 100%;
    height: 500px;
}