.card-footer{
    background-color: #F4A261;
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding: 7px;
}
.box{
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 5px;
    width: 425px;

}