.header{
    background-color: #03071E;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    padding: 10px;
    border-bottom: solid 2px #FFF;
}
.card-logo{
    width: 30%;
}
.card-nav{
    display: flex;
    width: 70%;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}
.card-menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-menu li{
    margin-left: 30px;
    text-decoration: none;
    list-style: none;
}
.card-menu a{
    text-decoration: none;
    color: #FFF;
    transition: 0.5s;
}
.card-menu a:hover{
    text-decoration: none;
    color: #F48C06;
    cursor: pointer;
}
