.card-navbar{
    display: flex;
    justify-content: space-between;
    background-color: #264653;
    height: 70px;
    width: 100%;
    padding: 7px;
}
.card-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.logo{
    height: 65px;
    transition: 1s;
}
.logo:hover{
    height: 70px;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.ul-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.li-nav{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
.li-nav a {
    text-decoration: none;
    color: #FFF;
    transition: 1s;
}
.li-nav a:hover {
    text-decoration: none;
    color: #E9C46A;
}